<!--<ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="#tab1" role="tab" data-toggle="tab"><span class="info"></span><%= locale.registInfo %></a></li>
</ul>					-->
<!-- tab content begin -->
<div class="tab-content">
<!-- 등록정보 begin -->
	<div class="tab-pane active" id="tab1">
	<div class="title"><%=locale.detectionFilterviewSetting%></div>
		<div class="icon-subtitle"><%= locale.outline %></div>
		<table class="table table-vertical-line table-striped">
			<tbody>
				<tr>
					<td width="20%"><%= locale.filterviewName %></td>
					<td><span id=""><%= model.strFilterViewName %></span></td>
				</tr>
				<tr>
					<td><%= locale.comment %></td>
					<td><span id=""><%= model.strDescription %></span></td>
				</tr>
			</tbody>
		</table>
		
		<div class="icon-subtitle"><%= locale.detailSetting %></div>
		
		<table class="table table-vertical-line table-striped">
			<thead>
				<tr>
					<th style="width:10%;"></th>
					<th style="width:20%;"><%= locale.type %></th>
					<th style="width:35%;"><%= locale.searchCondition %></th>
					<th style="width:35%;"><%= locale.selectColor %></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="align-center"><div class="<%= model.strNTargetEnabled %> align-center"></div></td>
					<td><%= locale.targetType %></td>
					<td><span id=""><%= model.strTargetName %></span></td>
					<td class="align-center">											
						<input type="radio" class="hidden cursor-none" name="orgSensorBackground" id="orgSensorBackground0" value="gray" disabled><label for="orgSensorBackground0" class="threat-bg-<%= model.orgSensorBg[0] %>"></label>
						<input type="radio" class="hidden cursor-none" name="orgSensorBackground" id="orgSensorBackground1" value="red" disabled><label for="orgSensorBackground1" class="threat-bg-<%= model.orgSensorBg[1] %>"></label>
						<input type="radio" class="hidden cursor-none" name="orgSensorBackground" id="orgSensorBackground2" value="orange" disabled><label for="orgSensorBackground2" class="threat-bg-<%= model.orgSensorBg[2] %>"></label>
						<input type="radio" class="hidden cursor-none" name="orgSensorBackground" id="orgSensorBackground3" value="green" disabled><label for="orgSensorBackground3" class="threat-bg-<%= model.orgSensorBg[3] %>"></label>
						<input type="radio" class="hidden cursor-none" name="orgSensorBackground" id="orgSensorBackground4" value="blue" disabled><label for="orgSensorBackground4" class="threat-bg-<%= model.orgSensorBg[4] %>"></label>
					</td>
				</tr>
				<tr>
					<td class="align-center"><div class="<%= model.strNAttackNameEnabled %> align-center"></div></td>
					<td><%= locale.attackName %></td>
					<td><span id=""><%= model.strAttackName %></span></td>
					<td class="align-center">
						<input type="radio" class="hidden cursor-none" name="attackNameBackground" id="attackNameBackground0" value="gray" disabled><label for="attackNameBackground0" class="threat-bg-<%= model.attackNameBg[0] %>"></label>
						<input type="radio" class="hidden cursor-none" name="attackNameBackground" id="attackNameBackground1" value="red" disabled><label for="attackNameBackground1" class="threat-bg-<%= model.attackNameBg[1] %>"></label>
						<input type="radio" class="hidden cursor-none" name="attackNameBackground" id="attackNameBackground2" value="orange" disabled><label for="attackNameBackground2" class="threat-bg-<%= model.attackNameBg[2] %>"></label>
						<input type="radio" class="hidden cursor-none" name="attackNameBackground" id="attackNameBackground3" value="green" disabled><label for="attackNameBackground3" class="threat-bg-<%= model.attackNameBg[3] %>"></label>
						<input type="radio" class="hidden cursor-none" name="attackNameBackground" id="attackNameBackground4" value="blue" disabled><label for="attackNameBackground4" class="threat-bg-<%= model.attackNameBg[4] %>"></label>
					</td>
				</tr>
				<tr>
					<td class="align-center"><div class="<%= model.strNAttackTypeEnabled %> align-center"></div></td>
					<td><%= locale.attackType %></td>
					<td><span id=""><%= model.strAttackType %></span></td>
					<td class="align-center">
						<input type="radio" class="hidden cursor-none" name="attackTypeBackground" id="attackTypeBackground0" value="gray" disabled><label for="attackTypeBackground0" class="threat-bg-<%= model.attackTypeBg[0] %>"></label>
						<input type="radio" class="hidden cursor-none" name="attackTypeBackground" id="attackTypeBackground1" value="red" disabled><label for="attackTypeBackground1" class="threat-bg-<%= model.attackTypeBg[1] %>"></label>
						<input type="radio" class="hidden cursor-none" name="attackTypeBackground" id="attackTypeBackground2" value="orange" disabled><label for="attackTypeBackground2" class="threat-bg-<%= model.attackTypeBg[2] %>"></label>
						<input type="radio" class="hidden cursor-none" name="attackTypeBackground" id="attackTypeBackground3" value="green" disabled><label for="attackTypeBackground3" class="threat-bg-<%= model.attackTypeBg[3] %>"></label>
						<input type="radio" class="hidden cursor-none" name="attackTypeBackground" id="attackTypeBackground4" value="blue" disabled><label for="attackTypeBackground4" class="threat-bg-<%= model.attackTypeBg[4] %>"></label>
					</td>
				</tr>
				<tr>
					<td class="align-center"><div class="<%= model.strNAttackIpEnabled %> align-center"></div></td>
					<td><%= locale.attackIp %></td>
					<td><span id=""><%= model.strAttackIp %></span></td>
					<td class="align-center">
						<input type="radio" class="hidden cursor-none" name="attackIpBackground" id="attackIpBackground0" value="gray" disabled><label for="attackIpBackground0" class="threat-bg-<%= model.attackIpBg[0] %>"></label>
						<input type="radio" class="hidden cursor-none" name="attackIpBackground" id="attackIpBackground1" value="red" disabled><label for="attackIpBackground1" class="threat-bg-<%= model.attackIpBg[1] %>"></label>
						<input type="radio" class="hidden cursor-none" name="attackIpBackground" id="attackIpBackground2" value="orange" disabled><label for="attackIpBackground2" class="threat-bg-<%= model.attackIpBg[2] %>"></label>
						<input type="radio" class="hidden cursor-none" name="attackIpBackground" id="attackIpBackground3" value="green" disabled><label for="attackIpBackground3" class="threat-bg-<%= model.attackIpBg[3] %>"></label>
						<input type="radio" class="hidden cursor-none" name="attackIpBackground" id="attackIpBackground4" value="blue" disabled><label for="attackIpBackground4" class="threat-bg-<%= model.attackIpBg[4] %>"></label>
					</td>
				</tr>
				<tr>
					<td class="align-center"><div class="<%= model.strNVictimIpEnabled %> align-center"></div></td>
					<td><%= locale.dashboard.victimIpType %></td>
					<td><span id=""><%= model.strVictimIp %></span></td>
					<td class="align-center">
						<input type="radio" class="hidden cursor-none" name="victimIpBackground" id="victimIpBackground0" value="gray" disabled><label for="victimIpBackground0" class="threat-bg-<%= model.victimIpBg[0] %>"></label>
						<input type="radio" class="hidden cursor-none" name="victimIpBackground" id="victimIpBackground1" value="red" disabled><label for="victimIpBackground1" class="threat-bg-<%= model.victimIpBg[1] %>"></label>
						<input type="radio" class="hidden cursor-none" name="victimIpBackground" id="victimIpBackground2" value="orange" disabled><label for="victimIpBackground2" class="threat-bg-<%= model.victimIpBg[2] %>"></label>
						<input type="radio" class="hidden cursor-none" name="victimIpBackground" id="victimIpBackground3" value="green" disabled><label for="victimIpBackground3" class="threat-bg-<%= model.victimIpBg[3] %>"></label>
						<input type="radio" class="hidden cursor-none" name="victimIpBackground" id="victimIpBackground4" value="blue" disabled><label for="victimIpBackground4" class="threat-bg-<%= model.victimIpBg[4] %>"></label>
					</td>
				</tr>
				<tr>
					<td class="align-center"><div class="<%= model.strNAttackPortEnabled %> align-center"></div></td>
					<td><%= locale.attackPort %></td>
					<td><span id=""><%= model.nAttackPort %></span></td>
					<td class="align-center">
						<input type="radio" class="hidden cursor-none" name="attackPortBackground" id="attackPortBackground0" value="gray" disabled><label for="attackPortBackground0" class="threat-bg-<%= model.attackPortBg[0] %>"></label>
						<input type="radio" class="hidden cursor-none" name="attackPortBackground" id="attackPortBackground1" value="red" disabled><label for="attackPortBackground1" class="threat-bg-<%= model.attackPortBg[1] %>"></label>
						<input type="radio" class="hidden cursor-none" name="attackPortBackground" id="attackPortBackground2" value="orange" disabled><label for="attackPortBackground2" class="threat-bg-<%= model.attackPortBg[2] %>"></label>
						<input type="radio" class="hidden cursor-none" name="attackPortBackground" id="attackPortBackground3" value="green" disabled><label for="attackPortBackground3" class="threat-bg-<%= model.attackPortBg[3] %>"></label>
						<input type="radio" class="hidden cursor-none" name="attackPortBackground" id="attackPortBackground4" value="blue" disabled><label for="attackPortBackground4" class="threat-bg-<%= model.attackPortBg[4] %>"></label>
					</td>
				</tr>
				<tr>
					<td class="align-center"><div class="<%= model.strNVictimPortEnabled %> align-center"></div></td>
					<td><%= locale.victimPort %></td>
					<td><span id=""><%= model.nVictimPort %></span></td>
					<td class="align-center">
						<input type="radio" class="hidden cursor-none" name="victimPortBackground" id="victimPortBackground0" value="gray" disabled><label for="victimPortBackground0" class="threat-bg-<%= model.victimPortBg[0] %>"></label>
						<input type="radio" class="hidden cursor-none" name="victimPortBackground" id="victimPortBackground1" value="red" disabled><label for="victimPortBackground1" class="threat-bg-<%= model.victimPortBg[1] %>"></label>
						<input type="radio" class="hidden cursor-none" name="victimPortBackground" id="victimPortBackground2" value="orange" disabled><label for="victimPortBackground2" class="threat-bg-<%= model.victimPortBg[2] %>"></label>
						<input type="radio" class="hidden cursor-none" name="victimPortBackground" id="victimPortBackground3" value="green" disabled><label for="victimPortBackground3" class="threat-bg-<%= model.victimPortBg[3] %>"></label>
						<input type="radio" class="hidden cursor-none" name="victimPortBackground" id="victimPortBackground4" value="blue" disabled><label for="victimPortBackground4" class="threat-bg-<%= model.victimPortBg[4] %>"></label>
					</td>
				</tr>
				<tr>
					<td class="align-center"><div class="<%= model.strNWinboundEnabled %> align-center"></div></td>
					<td><%= locale.direction %></td>
					<td><span id=""><%= model.strWinbound %></span></td>
					<td class="align-center">
						<input type="radio" class="hidden cursor-none" name="winboundBackground" id="winboundBackground0" value="gray" disabled><label for="winboundBackground0" class="threat-bg-<%= model.winboundBg[0] %>"></label>
						<input type="radio" class="hidden cursor-none" name="winboundBackground" id="winboundBackground1" value="red" disabled><label for="winboundBackground1" class="threat-bg-<%= model.winboundBg[1] %>"></label>
						<input type="radio" class="hidden cursor-none" name="winboundBackground" id="winboundBackground2" value="orange" disabled><label for="winboundBackground2" class="threat-bg-<%= model.winboundBg[2] %>"></label>
						<input type="radio" class="hidden cursor-none" name="winboundBackground" id="winboundBackground3" value="green" disabled><label for="winboundBackground3" class="threat-bg-<%= model.winboundBg[3] %>"></label>
						<input type="radio" class="hidden cursor-none" name="winboundBackground" id="winboundBackground4" value="blue" disabled><label for="winboundBackground4" class="threat-bg-<%= model.winboundBg[4] %>"></label>
					</td>
				</tr>
				<tr>
					<td class="align-center"><div class="<%= model.strNSeverityEnabled %> align-center"></div></td>
					<td><%= locale.severity %></td>
					<td>
						<span id="">
							<label>
								<%= model.strFullSeverity %>
							</label>
						</span>
					</td>
					<td class="align-center">
					</td>
				</tr>
<!--
				<% if (SYSTEM_TYPE == 2) { %>
				<tr>
					<td class="align-center"><div class="<%= model.strNBlockEnabled %> align-center"></div></td>
					<td><%= locale.block %></td>
					<td><span id=""><%= model.strBlock %></span></td>
					<td class="align-center">
						<input type="radio" class="hidden cursor-none" name="ucCreateLogTypeBackground" id="ucCreateLogTypeBackground0" value="gray" disabled><label for="ucCreateLogTypeBackground0" class="threat-bg-<%= model.blockBg[0] %>"></label>
						<input type="radio" class="hidden cursor-none" name="ucCreateLogTypeBackground" id="ucCreateLogTypeBackground1" value="red" disabled><label for="ucCreateLogTypeBackground1" class="threat-bg-<%= model.blockBg[1] %>"></label>
						<input type="radio" class="hidden cursor-none" name="ucCreateLogTypeBackground" id="ucCreateLogTypeBackground2" value="orange" disabled><label for="ucCreateLogTypeBackground2" class="threat-bg-<%= model.blockBg[2] %>"></label>
						<input type="radio" class="hidden cursor-none" name="ucCreateLogTypeBackground" id="ucCreateLogTypeBackground3" value="green" disabled><label for="ucCreateLogTypeBackground3" class="threat-bg-<%= model.blockBg[3] %>"></label>
						<input type="radio" class="hidden cursor-none" name="ucCreateLogTypeBackground" id="ucCreateLogTypeBackground4" value="blue" disabled><label for="ucCreateLogTypeBackground4" class="threat-bg-<%= model.blockBg[4] %>"></label>
					</td>
				</tr>
				<% } %>
-->
			</tbody>
		</table>
	</div>
</div>
<!-- 등록정보 end -->