<!-- tab content begin -->
<div class="tab-content">
    <form class="form-inline fileMetaCreationForm" role="form">
        <!-- 등록정보 begin -->
        <div class="tab-pane active" id="tab1">
            <div class="title"><%=locale.filemetaFilterviewSetting%></div>
            <div class="icon-subtitle"><%= locale.outline %></div>
            <table class="table table-vertical-line table-striped">
                <tbody>
                    <tr>
                        <td width="10%"><%= locale.filterviewName %> *</td>
                        <td><input type="text" class="form-control col-xs-4 strFilterViewName" name="strFilterViewName" id="strFilterViewName" maxlength="50" ></td>
                    </tr>
                    <tr>
                        <td><%= locale.comment %></td>
                        <td><textarea class="form-control col-xs-10 strDescription" rows="7" name="strDescription" id="strDescription"></textarea></td>
                    </tr>
                </tbody>
            </table>

            <div class="icon-subtitle"><%= locale.detailSetting %></div>

            <table class="table table-vertical-line table-striped">
                <thead>
                    <tr>
                        <th style="width:10%;"></th>
                        <th style="width:20%;"><%= locale.type %></th>
                        <th style="width:35%;"><%= locale.searchCondition %></th>
                        <th style="width:35%;"><%= locale.selectColor %></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-center"><input type="checkbox" id="orgSensor-toggle" name="orgSensor-toggle"></td>
                        <td><%= locale.targetType %></td>
                        <td><span id="targetType"></span></td>
                        <td class="align-center">											
                            <input type="radio" class="hidden" name="orgSensorBackground" id="orgSensorBackground0" value="0" checked><label for="orgSensorBackground0" class="threat-bg-gray"></label>
                            <input type="radio" class="hidden" name="orgSensorBackground" id="orgSensorBackground1" value="1"><label for="orgSensorBackground1" class="threat-bg-red"></label>
                            <input type="radio" class="hidden" name="orgSensorBackground" id="orgSensorBackground2" value="2"><label for="orgSensorBackground2" class="threat-bg-orange"></label>
                            <input type="radio" class="hidden" name="orgSensorBackground" id="orgSensorBackground3" value="3"><label for="orgSensorBackground3" class="threat-bg-green"></label>
                            <input type="radio" class="hidden" name="orgSensorBackground" id="orgSensorBackground4" value="4"><label for="orgSensorBackground4" class="threat-bg-blue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-center"><input type="checkbox" id="fileName-toggle" name="fileName-toggle"></td>
                        <td><%= locale.fileNaming %></td>
                        <td><span id=""><input type="text" class="form-control" id="fileNameInput" maxlength="256"></span></td>
                        <td class="align-center">
                            <input type="radio" class="hidden" name="fileNameBackground" id="fileNameBackground0" value="0" checked><label for="fileNameBackground0" class="threat-bg-gray"></label>
                            <input type="radio" class="hidden" name="fileNameBackground" id="fileNameBackground1" value="1"><label for="fileNameBackground1" class="threat-bg-red"></label>
                            <input type="radio" class="hidden" name="fileNameBackground" id="fileNameBackground2" value="2"><label for="fileNameBackground2" class="threat-bg-orange"></label>
                            <input type="radio" class="hidden" name="fileNameBackground" id="fileNameBackground3" value="3"><label for="fileNameBackground3" class="threat-bg-green"></label>
                            <input type="radio" class="hidden" name="fileNameBackground" id="fileNameBackground4" value="4"><label for="fileNameBackground4" class="threat-bg-blue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-center"><input type="checkbox" id="srcIp-toggle" name="srcIp-toggle"></td>
                        <td><%= locale.dwSourceIp %></td>
                        <td><span id=""><input type="text" class="form-control" id="srcIpInput"></span></td>
                        <td class="align-center">
                            <input type="radio" class="hidden" name="srcIpBackground" id="srcIpBackground0" value="0" checked><label for="srcIpBackground0" class="threat-bg-gray"></label>
                            <input type="radio" class="hidden" name="srcIpBackground" id="srcIpBackground1" value="1"><label for="srcIpBackground1" class="threat-bg-red"></label>
                            <input type="radio" class="hidden" name="srcIpBackground" id="srcIpBackground2" value="2"><label for="srcIpBackground2" class="threat-bg-orange"></label>
                            <input type="radio" class="hidden" name="srcIpBackground" id="srcIpBackground3" value="3"><label for="srcIpBackground3" class="threat-bg-green"></label>
                            <input type="radio" class="hidden" name="srcIpBackground" id="srcIpBackground4" value="4"><label for="srcIpBackground4" class="threat-bg-blue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-center"><input type="checkbox" id="dstIp-toggle" id="dstIp-toggle"></td>
                        <td><%= locale.destinationIp %></td>
                        <td><span id=""><input type="text" class="form-control" id="dstIpInput"></span></td>
                        <td class="align-center">
                            <input type="radio" class="hidden" name="dstIpBackground" id="dstIpBackground0" value="0" checked><label for="dstIpBackground0" class="threat-bg-gray"></label>
                            <input type="radio" class="hidden" name="dstIpBackground" id="dstIpBackground1" value="1"><label for="dstIpBackground1" class="threat-bg-red"></label>
                            <input type="radio" class="hidden" name="dstIpBackground" id="dstIpBackground2" value="2"><label for="dstIpBackground2" class="threat-bg-orange"></label>
                            <input type="radio" class="hidden" name="dstIpBackground" id="dstIpBackground3" value="3"><label for="dstIpBackground3" class="threat-bg-green"></label>
                            <input type="radio" class="hidden" name="dstIpBackground" id="dstIpBackground4" value="4"><label for="dstIpBackground4" class="threat-bg-blue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-center"><input type="checkbox" id="srcPort-toggle" name="srcPort-toggle"></td>
                        <td><%= locale.nSourcePort %></td>
                        <td><span id=""><input type="text" class="form-control" id="srcPortInput"></span></td>
                        <td class="align-center">
                            <input type="radio" class="hidden" name="srcPortBackground" id="srcPortBackground0" value="0" checked><label for="srcPortBackground0" class="threat-bg-gray"></label>
                            <input type="radio" class="hidden" name="srcPortBackground" id="srcPortBackground1" value="1"><label for="srcPortBackground1" class="threat-bg-red"></label>
                            <input type="radio" class="hidden" name="srcPortBackground" id="srcPortBackground2" value="2"><label for="srcPortBackground2" class="threat-bg-orange"></label>
                            <input type="radio" class="hidden" name="srcPortBackground" id="srcPortBackground3" value="3"><label for="srcPortBackground3" class="threat-bg-green"></label>
                            <input type="radio" class="hidden" name="srcPortBackground" id="srcPortBackground4" value="4"><label for="srcPortBackground4" class="threat-bg-blue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-center"><input type="checkbox" id="dstPort-toggle" name="dstPort-toggle"></td>
                        <td><%= locale.destinationPort %></td>
                        <td><span id=""><input type="text" class="form-control" id="dstPortInput"></span></td>
                        <td class="align-center">
                            <input type="radio" class="hidden" name="dstPortBackground" id="dstPortBackground0" value="0" checked><label for="dstPortBackground0" class="threat-bg-gray"></label>
                            <input type="radio" class="hidden" name="dstPortBackground" id="dstPortBackground1" value="1"><label for="dstPortBackground1" class="threat-bg-red"></label>
                            <input type="radio" class="hidden" name="dstPortBackground" id="dstPortBackground2" value="2"><label for="dstPortBackground2" class="threat-bg-orange"></label>
                            <input type="radio" class="hidden" name="dstPortBackground" id="dstPortBackground3" value="3"><label for="dstPortBackground3" class="threat-bg-green"></label>
                            <input type="radio" class="hidden" name="dstPortBackground" id="dstPortBackground4" value="4"><label for="dstPortBackground4" class="threat-bg-blue"></label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
    <!-- 등록정보 end -->
</div>	
