<!-- 테이블 유지 기간 설정 begin -->
<div class="icon-subtitle"><%= locale.setTheTableMaintenancePeriod %></div>
<table class="table table-vertical-line table-striped">
    <thead>
        <tr>		  		
            <th><%= locale.table %></th>
            <th width="70%"><%= locale.maintenancePeriod %></th>
        </tr>
    </thead>
    <tbody>
        <tr>		  		
            <td><%= locale.daysLog%></td>
            <td><%= model.nRawPeriodic %> <%= locale.days %></td>
        </tr>	
        <tr>		  		
            <td><%= locale.auditLog %></td>
            <td><%= model.nAuditPeriodic %> <%= locale.days %></td>
        </tr>
    </tbody>
</table>
<!-- 테이블 유지 기간 설정 end -->

<!-- 디스크 사용량 관리 begin -->
<div class="icon-subtitle"><%= locale.setDiskUsed %></div>
<table class="table table-vertical-line table-striped">
    <tbody>
        <tr>		  		
            <td  width="30%"><%= locale.diskWarn %></td>
            <td><%= model.nDiskWarn %> % <%= locale.diskWarnMailSend %></td>
        </tr>
        <tr>
            <td  width="30%"><%= locale.diskUsed %></td>
            <td><%= model.nDiskUsage %> % <%= locale.IfMoreThanThisPercentDropInTheOldOrder %></td>
        </tr>
    </tbody>
</table>
<!-- 디스크 사용량 관리 end -->
<!-- db관리 end -->