<div class="icon-subtitle">DB <%= locale.password %> <%= locale.modify %></div>
<div class="border-dotted-all overflow-hidden padding-t5">
    <table class="view-table col-xs-12">
        <tr class="border-clear">
            <th width="20%"><%=locale.user%> ID</th>
            <td><input type="text" id="userId" name="userId" class="form-control col-xs-4 adminId" maxlength="15" value="<%= model.strDbuid %>" disabled/>
            </td>
        </tr>
        <tr class="border-clear">
            <th><%= locale.encryption %> *</th>
            <td>
                <input type="password" id="password" name="password" class="form-control col-xs-4" maxlength="20" maxlength="20" <%=model.pwdDisabled%> >
            </td>
        </tr>
        <tr id="passwordScriptRow" style="display:none;" class="border-clear">
            <th></th>
            <td id="adminPasswordScript"></td>
        </tr>
        <tr class="border-clear">
            <th><%= locale.encryptionCheck %> *</th>
            <td><input type="password" id="comparePassword" name="comparePassword" class="form-control col-xs-4" maxlength="20" <%=model.pwdDisabled%> ></td>
        </tr>
        <tr id="rePasswordScriptRow" style="display:none;" class="border-clear">
            <th></th>
            <td id="adminRePasswordScript"></td>
        </tr>
    </table>
</div>