<div class="icon-subtitle">DB <%= locale.password %> <%= locale.modify %></div>
<div class="border-dotted-all overflow-hidden padding-t5">
    <table class="view-table col-xs-12">
        <tr class="border-clear">
            <th width="20%"><%= locale.user %> ID</th>
            <td><strong><span id="strId"><%= model.strDbuid %></span></strong></td>
        </tr>
        <tr class="border-clear">
            <th><%= locale.encryption %></th>
            <td>*********</td>
        </tr>
    </table>
</div>