<!-- 자동 무결성 검사 주기 설정 begin -->
<div class="icon-subtitle"><%= locale.inspectionPeriodSetting %> 
    <button class="btn btn-default webConsoleIntegrityBtn margin-l5" type="button" disabled ><%= locale.excuteIntegrityCheck %></button>
</div>
<div class="border-dotted-all overflow-hidden padding-t5">
    <span class="col-xs-12 description"><%= locale.integrityInfo %></span>
    <table class="view-table col-xs-12">
        <tr class="border-clear">
            <td><%= locale.performServicesAtTheBeginningOfTheIntegrityCheck %><br/><span class="description" id="autoIntegrityDescription"></span></td>
        </tr>
    </table>
</div>
<!-- 자동 무결성 검사 주기 설정 end -->