<!-- Application 탐지 정보 -->
<div class="modal-body modal-body-white-padding">
    <!-- <div class="security-view-title" id="bTypeName">
            <span id="attackType"></span>
    </div> -->
    <!-- 상세 정보 view table begin -->
    <div style="height: auto !important;">
        <div class="icon-subtitle margin-t5" id="detectionInfoTitle"><%= locale.search.generalInfo %></div>
        <!-- 일반정보 begin -->
        <div class="border-dotted-all padding-all-5 progressbar" id="detectionInfoContent">
            <!-- info 2column table begin -->
            <table class="view-table">
                <tbody>
                    <tr>
                        <th><%= locale.type %></th>
                        <td><span id="bType"></span></td>
                        <th><%= locale.detectionTime %></th>
                        <td><span id="tmLogTime"></span></td>
                    </tr>
                    <tr>
                        <th><%= locale.dwSourceIp %></th>
                        <td class="align-left"><span id="sip"></span><button class="btn btn-default btn-sm margin-t5 pull-right sipRetrievePopupBtn"><%= locale.search.ipSearch %></button></td>
                        <th><%= locale.destinationIp %></th>
                        <td class="align-left"><span id="dip"></span><button class="btn btn-default btn-sm margin-t5 pull-right dipRetrievePopupBtn"><%= locale.search.ipSearch %></button></td>
                    </tr>
                    <tr>
                        <th><%= locale.nSourcePort %></th>
                        <td><span id="sPort"></span></td>
                        <th><%= locale.destinationPort %></th>
                        <td><span id="dPort"></span></td>
                    </tr>
                </tbody>
            </table>
            <!-- info 2column table end -->
        </div>
        <!-- 일반정보 end -->

        <div class="icon-subtitle" id="sdataTitle"><%= locale.search.dataInfo %></div>
        <!-- 데이터정보 begin -->
        <div class="border-dotted-all padding-all-5" id="sdataContent">
            <table class="view-table">
                <tr>
                    <td><textarea class="form-control col-xs-12 sData" rows="8" id="sData"></textarea></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- 상세 정보 view table end -->
</div> 
