<td class="font-size-11 overflow-ellipsis" title="<%= bType %>"><a id="bType" class="applicationName" data-lindex="<%= lIndex %>"><%= bType %></a></td>
<td class="overflow-ellipsis" title="<%= tmLogTime %>"><%= tmLogTime %></td>
<td class="overflow-ellipsis" title="<%= dwSourceIp %>"><a class="ipRetrieveAttackPopupLink"><%= dwSourceIp %></a></td>
<td class="font-size-11 overflow-ellipsis" title="<%= nProtocol %>/<%= nSourcePort %>"><%= nProtocol %>/<%= nSourcePort %></td>
<td class="overflow-ellipsis" title="<%= deDestinationIp %>"><a class="ipRetrieveVictimPopupLink"><%= deDestinationIp %></a></td>
<td class="font-size-11 overflow-ellipsis" title="<%= nProtocol %>/<%= nDestinationPort %>"><%= nProtocol %>/<%= nDestinationPort %></td>

