<td class="align-center"><%= rNum %></td>
<td class="overflow-ellipsis" title="<%=strTitle %>"><span class="cell-color-dot-bg severity-bg-lv<%= bSeverity %>"></span><a class="attackName" data-btype='<%= bType %>'><%=strTitle %></a></td>
<td class="font-size-11 overflow-ellipsis" title="<%= bType %>"><%= bType %></td>
<td class="overflow-ellipsis align-center rawPacket">
<% if (rawdata != null && rawdata != '') { %>
	<button type="button" class="btn-intable-list rawPacketBtn"></button>
<% } %>
</td>
<!--
<td class="overflow-ellipsis align-center" title="">
<% if (ucCreateLogType == 0) { %>
        <span class="icon-intable-block"></span>
<% } %>
<% if (ucCreateLogType == 1) { %>
        <span class="icon-intable-detect"></span>
<% } %>
</td>
-->
<td class="overflow-ellipsis" title="<%= startDate %>"><%= startDate %></td>
<td class="overflow-ellipsis" title="<%= dwSourceIp %>">
    <a class="ipRetrieveAttackPopupLink" title="<%= srcApplication %>"><%= dwSourceIp %></a>
</td>
<!-- <td class="font-size-11 overflow-ellipsis " title="<%= srcService %>/<%= nSourcePort %>"><span class="<%= srcServiceBox %>"><%= srcService %></span> <%= nSourcePort %></td> -->
<td class="font-size-11 overflow-ellipsis " title="<%= srcService %>/<%= nSourcePortView %>">
    <span class="<%= srcServiceBox %>"><%= srcService %></span>&nbsp;
    <%= nSourcePortView %>
</td>
<td class="overflow-ellipsis" title="<%= dwDestinationIp %>">
    <a class="ipRetrieveVictimPopupLink" title="<%= dstApplication %>"><%= dwDestinationIp %></a>
</td>
<!-- <td class="font-size-11 overflow-ellipsis " title="<%= dstService %>/<%= nDestinationPort %>"><span class="<%= dstServiceBox %>"><%= dstService %></span> <%= nDestinationPort %></td> -->
<td class="font-size-11 overflow-ellipsis " title="<%= dstService %>/<%= nDestinationPortView %>">
    <span class="<%= dstServiceBox %>"><%= dstService %></span>&nbsp;
    <%= nDestinationPortView %>
</td>
<td class="overflow-ellipsis align-right attackCount"><%= dweventnum %></td>
<td class="overflow-ellipsis"><%= wInbound %></td>
<td class="overflow-ellipsis" title="<%= networkName %>"><%= networkName %></td>
<td class="align-center">
<% if (WRITE_MODE == 1) { %>
<% if (role != 1) { %>
<button type="button" class="btn btn-default btn-sm btn-intable exceptionBtn" title="예외"><i class="fa fa-exclamation"></i></button> 
<button type="button" class="btn btn-default btn-sm btn-intable responseBtn" title="대응"><i class="fa fa-check-square-o"></i></button>
<% } %>
<% } %>
<!--<button type="button" class="btn btn-default btn-sm btn-intable trafficLogginBtn" data-shost='<%= dwSourceIp %>' data-dhost='<%= dwDestinationIp %>' data-dport='<%= nDestinationPort %>' data-sensorindex='<%= lsensorIndex %>' title="로깅"><i class="fa fa-edit"></i></button>-->
</td>

