<td class="overflow-ellipsis" width="8%" title="<%= type %>"><%= type %></td>
<td class="overflow-ellipsis" width="16%" title="<%= sourceIp %>"><%= sourceIp %></td>
<td class="overflow-ellipsis" width="16%" title="<%= destnationIp %>"><%= destnationIp %></td>
<td class="overflow-ellipsis" width="12%" title="<%= protocol %>"><%= protocol %></td>
<td class="align-right" width="8%" title="<%= sourcePort %>"><%= sourcePort %></td>
<td class="align-right" width="8%" title="<%= destnationPort %>"><%= destnationPort %></td>
<td class="align-right" width="14%" title="<%= tmcur %>"><%= tmcur %></td>
<!--<td class="overflow-ellipsis" width="19%" title="<%= detection %>"><%= detection %></td>-->