<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kglory.tms.web.mapper.monitor.ApplicationDetectionMapper">

	<resultMap type="ApplicationDetectionEventVO" id="applicationDetectionEventResultMap">
		<result property="lIndex" 			column="LINDEX" />
		<result property="tmLogTime" 		column="TMLOGTIME" />
		<result property="dwSourceIp" 		column="DWSOURCEIP" typeHandler="com.kglory.tms.web.util.typehandler.HostByteOrderIpTypeHandler" />
		<result property="strSourceIp" 		column="STRSOURCEIP"/>
		<result property="deDestinationIp" 	column="DWDESTINATIONIP" typeHandler="com.kglory.tms.web.util.typehandler.HostByteOrderIpTypeHandler" />
		<result property="strDestinationIp" column="STRDESTINATIONIP"/>
		<result property="nProtocol" 		column="NPROTOCOL" />
		<result property="bType" 			column="BTYPE" />
		<result property="bIpType" 			column="BIPTYPE" />
		<result property="lvsensorIndex" 	column="LVSENSORINDEX" />
		<result property="vsensorName" 		column="VSENSORNAME" />
		<result property="nSourcePort" 		column="NSOURCEPORT" />
		<result property="nDestinationPort" column="NDESTINATIONPORT" />
		<result property="lSrcNetIndex" 	column="LSRCNETINDEX" />
		<result property="lDstNetIndex" 	column="LDSTNETINDEX" />
		<result property="lsensorIndex" 	column="LSENSORINDEX" />
		<result property="sensorName" 		column="SENSORNAME" />
		<result property="tmDbTime" 		column="TMDBTIME" />
	</resultMap>
	
	<select id="selectApplicationDetectionEvent" parameterType="com.kglory.tms.web.model.dto.ApplicationMonitorSearchDto" resultMap="applicationDetectionEventResultMap" >
            SELECT LINDEX, DATE_FORMAT( TMLOGTIME, '%Y-%m-%d %H:%i:%s') AS TMLOGTIME, DWSOURCEIP, STRSOURCEIP, DWDESTINATIONIP, STRDESTINATIONIP, NPROTOCOL , BTYPE, BIPTYPE, NSOURCEPORT, NDESTINATIONPORT, 
                   WDATASIZE, SDATA, LSRCNETINDEX, LDSTNETINDEX, TMDBTIME,
                    (SELECT STRNAME FROM   SYSTEM_NETWORK WHERE  LSRCNETINDEX = LNETWORKINDEX) AS SRCNETNAME, 
                    (SELECT STRNAME FROM   SYSTEM_NETWORK WHERE  LDSTNETINDEX = LNETWORKINDEX) AS DSTNETNAME
            FROM ${queryTableName}
            WHERE TMDBTIME <![CDATA[ >= ]]> CAST( #{startDateInput} AS DATETIME)
            AND TMDBTIME <![CDATA[ < ]]> CAST( #{endDateInput} AS DATETIME)
            AND BIPTYPE = #{ipType}
            <if test="lnetworkIndex != null and lnetworkIndex > 0">
                AND (
                    LSRCNETINDEX = #{lnetworkIndex}
                    OR LDSTNETINDEX = #{lnetworkIndex}
                )
            </if>
            <if test="srcPortInput != null">
                AND NSOURCEPORT = #{srcPortInput} 
            </if>
            <if test="destPortInput != null">
                AND NDESTINATIONPORT = #{destPortInput} 
            </if>
            <if test="deDestinationIp != null">
                AND DWDESTINATIONIP = #{deDestinationIp}
            </if>
            <if test="strDestinationIp != null and ipType == 6">
                AND STRDESTINATIONIP = #{strDestinationIp}
            </if>
            <if test="sourceIp != null">
                AND DWSOURCEIP = #{sourceIp}
            </if>
            <if test="strSourceIp != null and ipType == 6">
                AND STRSOURCEIP = #{strSourceIp}
            </if>
            <if test="bType != null and bType != ''">
                AND BTYPE = #{bType}
            </if>
            ORDER BY TMLOGTIME ASC
            LIMIT #{monitorLimitLength}
        </select>
        
</mapper>