<td class="align-right">
	<%= model.ucSeverityName%>
</td>
<td class="align-right">
	<%= model.dblThreshold%>
</td>
<td class="align-right">
	<%= model.dblCondition %>
</td>
<td class="align-center" style="display: none;">
	<input type="checkbox" <%=model.secondType2%> disabled>
</td>
<td class="align-center" style="display: none;">
	<input type="checkbox" <%=model.secondType1%> disabled>
</td>
<td class="align-center">
	<%= model.mailType%>
</td>
<td class="align-center">
	<%= model.smsType%>
</td>