<div class="icon-subtitle"><%= locale.countChanges %></div>
<!--  건수 변화 table begin -->
<form>
<table class="table table-vertical-line table-fixed">
	<thead>
		<tr>
			<th width="10%"><%= locale.severity %></th>
			<th width="15%"><%= locale.thresholdValue %></th>
			<th width="15%"><%= locale.minOccurrenceCount %></th>
			<th style="display: none;"><%= locale.emergencyNotification %></th>
			<th style="display: none;"><%= locale.visualAuralAlert %></th>
			<th><%= locale.mailSend %></th>
			<th><%= locale.smsSend %></th>
		</tr>
	</thead>
	<tbody id="countChangeTbody"> </tbody>
</table>
</form>
<!--  건수 변화 table end -->
<div class="icon-subtitle"><%= locale.trafficChange %></div>
<!--  트래픽 변화 table begin -->
<form>
<table class="table table-vertical-line table-fixed">
	<thead>
		<tr>
			<th width="10%"><%= locale.severity %></th>
			<th width="15%"><%= locale.thresholdValue %></th>
			<th width="15%"><%= locale.minOccurrenceCount %></th>
			<th style="display: none;"><%= locale.emergencyNotification %></th>
			<th style="display: none;"><%= locale.visualAuralAlert %></th>
			<th><%= locale.mailSend %></th>
			<th><%= locale.smsSend %></th>
		</tr>
	</thead>
	<tbody id="trafficChangeTbody"> </tbody>
</table>
</form>
<!--  트래픽 변화 table end -->
<div class="icon-subtitle"><%= locale.rankChanges %></div>
<!--  순위 변화 table begin -->
<form>
<table class="table table-vertical-line table-fixed">
	<thead>
		<tr>
			<th width="10%"><%= locale.severity %></th>
			<th width="15%"><%= locale.thresholdValue %></th>
			<th width="15%"><%= locale.minOccurrenceCount %></th>
			<th style="display: none;"><%= locale.emergencyNotification %></th>
			<th style="display: none;"><%= locale.visualAuralAlert %></th>
			<th><%= locale.mailSend %></th>
			<th><%= locale.smsSend %></th>
		</tr>
	</thead>
	<tbody id="rankChangeTbody"> </tbody>
</table>
</form>
<!--  순위 변화 table end -->
<!-- 이벤트변화 end -->