<!-- 등록정보 상세 table begin -->
<table class="view-table col-xs-12">

	<tr>
		<th width="25%"><%= locale.attackType%></th>
		<td><span id="attackType"></span></td>
	</tr>
	<tr>
		<th width="25%"><%= locale.attackName%></th>
		<td><span id="strTitle"></span></td>
	</tr>
	<tr>
		<th width="25%"><%= locale.severity%></th>
		<td id="bSeverity"><span id="severityColor" class="threat-color"></span></td>
	</tr>
	<tr>
		<th><%= locale.usage %></th>
		<td id="lUsed"></td>
	</tr>
<!--	<tr>-->
<!--		<th><%= locale.block %></th>-->
<!--		<td id="block"></td>-->
<!--	</tr>-->
	<tr>
		<th><%= locale.packet %></th>
		<td id="packet" class="threat-text-lv1"></td>
	</tr>
	<tr>
		<th><%= locale.thresholdCountPerSecond %></th>
		<td><span id="lThresholdNum"></span> 개 / <span id="lThresholdTime"></span> 초</td>
	</tr> 
	<tr>
		<th width="25%"><%= locale.patternInfo%></th>
                <td width="75%" id="strDetect" style="word-break: break-all;"></td>
	</tr>
</table>
<!-- 등록정보 상세 table end -->
<!-- 등록정보 end -->