<!-- 세션감시 정책 뷰 begin -->
<div class="content-white col-xs-8">
	<!-- title & button begin -->
		<button type="button" class="btn btn-default btn-sm pull-right"><%= locale.modify%></button>
		<div class="title"><%= locale.applyTarket%></div>
	<!-- title & button end -->	
	
	<!-- 적용대상 begin -->
<div class="tab-pane" id="tab2">
<table class="table table-striped table-hover table-vertical-line margin-t10">
    <thead>
    	<tr>
    		<th><%= locale.apply%></th>
    		<th><%= locale.virtualSensorName%></th>
    		<th><%= locale.sessionInfoSend%></th>
    	</tr>
    </thead>
    <tbody>
    	<tr>
    		<td class="align-center"><input type="checkbox" value=""></td>
    		<td>10.170.1.103</td>
    		<td class="align-center">시작, 로그인, 종료</td>
    	</tr>
    	<tr>
    		<td class="align-center"><input type="checkbox" value="" checked></td>
    		<td>10.170.1.104</td>
    		<td class="align-center">시작, 로그인, 종료</td>
    	</tr>
    	<tr>
    		<td class="align-center"><input type="checkbox" value="" checked></td>
    		<td>10.170.1.60</td>
    		<td class="align-center">시작, 로그인, 종료</td>
    	</tr>
    	<tr>
    		<td class="align-center"><input type="checkbox" value=""></td>
    		<td>구형센서 연동테스트</td>
    		<td class="align-center">시작, 로그인, 종료</td>
    	</tr>
	</tbody>
</table>
</div>
<!-- 적용대상 end -->
</div>
<!-- 세션감시 정책 뷰 end -->
<!-- content end -->