<!-- YARA 룰 정책 유형그룹 목록 begin -->
<div class="content-gray col-xs-5 border-solid-right content-list-setup-left">
    <div class="title"><%= locale.yaraRulePolicy %> <%= locale.list %></div>
    <!-- 버튼 목록 begin -->
    <div class="float-clear row content-tree-btn">
        <div class="col-xs-10 padding-clear">
            <div class="col-xs-3 padding-clear">	
                <!-- 간편검색 레이어 begin -->
                <div class="dropdown col-xs-11 padding-clear yara">
                    <button type="button" class="btn btn-default col-xs-12" data-toggle="dropdown" class="dropdown-toggle">
                        <span class="margin-r15"></span><%= locale.search.search %> <span class="caret margin-l5"></span>
                    </button>
                    <div class="dropdown-menu media-list pull-right animated fadeInDown security-detail-search">
                        <form class="form-inline yaraRuleForm" onsubmit="return false;" role="form">
                            <div class="icon-subtitle col-xs-12 margin-l25 margin-t10"><%= locale.search.simpleSearch %></div>
                            <!--간편검색 begin-->
                            <div class="col-xs-11 border-dotted-all margin-l25 padding-all-10">
                                <!-- 악성코드 유형 선택 begin -->
                                <div class="form-group col-xs-12 padding-clear">
                                    <label class="control-label col-xs-2"><%= locale.yaraRulePolicy %> <%= locale.type %></label>
                                    <select id="attackTypeSelect" name="attackTypeSelect" class="form-control col-xs-10">
                                        <option value=""><%= locale.dashboard.target %></option>
                                    </select>
                                </div>
                                <!-- 유형 선택 end -->

                                <!-- 룰 이름 입력 begin -->
                                <div class="form-group col-xs-12 margin-t10 padding-clear">
                                    <label class="control-label col-xs-2"><%= locale.yaraRulePolicyName %></label>
                                    <input type="text" id="attackNameInput" name="attackNameInput" class="form-control col-xs-10" placeholder="<%=locale.yaraRuleNameSearch%>" maxlength="128"/>
                                    <!-- form에 입력 input이 한개만 존재할 때 enter키를 누르면 자동 submit 되는 오류를 막기위해 존재 -->
                                    <!-- <input type="text" class="form-control col-xs-10" style="display:none;"/> -->
                                </div>
                                <!-- 룰 이름 입력 end -->
                            </div>
                            <!--간편검색 end-->	

                            <div class="icon-subtitle col-xs-12 margin-l25"><%= locale.search.detailSearch %></div>
                            <!-- 상세검색 begin -->
                            <div class="col-xs-11 border-dotted-all margin-l25 padding-all-10">
                                <!-- 위험도 / 프로토콜 선택 begin -->
                                <div class="form-group col-xs-12 padding-clear">
                                    <label class="control-label col-xs-2"><%= locale.severity %></label>
                                    <select name="severityLevel" id="severityLevel" class="form-control col-xs-4">
                                        <option value=""><%= locale.noSelect %></option>
                                        <option value="5"><%= locale.high %></option>
                                        <option value="3"><%= locale.med %></option>
                                        <option value="1"><%= locale.low %></option>
                                        <option value="0"><%= locale.information %></option>
                                    </select>
                                </div>
                                <!-- 위험도 / 프로토콜 선택 end -->

                            </div>
                            <!--상세검색 end-->


                            <!-- buttons begin -->
                            <div class="dropdown-footer col-xs-12">
                                <!-- <button type="button" id="prevSearch" class="btn btn-default margin-l20 pull-left">이전 검색 목록</button>
                                <button type="button" id="recentSearch" class="btn btn-default margin-l5 pull-left">최근 사용 목록</button>-->					
                                <button type="button" id="cancelBtn" class="btn btn-default margin-r20 pull-right"><%= locale.reset %></button>
                                <button type="button" id="attackSearchBtn" class="btn btn-default btn-primary margin-r5 pull-right minwidth-100"><%= locale.searching %></button>
                            </div>
                            <!-- buttons end -->
                        </form>
                    </div>
                </div>
                <!-- 간편검색 레이어 end -->
            </div>
            <div class="col-xs-4 padding-clear" style="min-width: 150px;">

                <!-- 악성코드 유형추가 begin -->
                <div class="dropdown col-xs-11 padding-clear">
                    <button type="button" class="btn btn-default col-xs-12" data-toggle="dropdown" class="dropdown-toggle">
                        <span class="margin-r15"></span><%= locale.yaraRulePolicy %> <%= locale.type %> <span class="caret margin-l5"></span>
                    </button>
                    <div class="dropdown-menu media-list pull-right animated fadeInDown security-detail-type">
                        <form class="form-inline padding-r15 padding-l15" role="form">
                            <!-- 코드, 이름, 추가버튼 begin -->
                            <div class="form-group col-xs-12 margin-t10 margin-b5 padding-clear">
                                <input type="text" id="strName" class="form-control col-xs-7 margin-l5" placeholder="이름" maxlength="10"/>
                                <button type="button" id="addUserSignatureBtn" class="addUserSignatureBtn btn btn-default col-xs-3 margin-l5"><%= locale.regist %></button>
                            </div>
                            <!-- 코드, 이름, 추가버튼 end -->
                            <!-- list begin -->
                            <ul class="signatureClassType-list">
                            </ul>
                            <!-- list end -->
                        </form>
                    </div>
                </div>
                <!-- 악성코드 유형추가 end -->
            </div>
            <div class="col-xs-3 padding-clear">
                <button type="button" id="newTabBtn" class="btn btn-default newTabBtn col-xs-11"><%= locale.createNewItem %></button>
            </div>
        </div>

        <!-- accordian 버튼 영역 begin -->
        <div class="col-xs-2 padding-clear text-right">
            <!-- 아코디언 모두펼치기 모두닫기 버튼 -->
            <div class="btn btn-default icon-spread" id="accordion-opening" title="<%= locale.accordionOpen %>"></div>
            <div class="btn btn-default icon-fold" id="accordion-closing" title="<%= locale.accordionClose %>"></div>
        </div>
        <!-- accordian 버튼 영역 end -->

    </div>
    <!-- 버튼 목록 end -->


    <!-- 탐지정책 collapsible table begin -->
    <div class="content-tree-list">
        <div class="panel-group table-accordion dark-header-accordion has-gap setting-list" id="accordion">
            <!-- 유형그룹 및 룰 데이터가 들어갈 영역 -->
        </div>
    </div>
    <!-- 탐지정책 collapsible table end -->	

</div>
<!-- 탐지정책 유형그룹 목록 end -->

<!-- tab 뷰 begin -->
<div class="content-white col-xs-7 height-100p">
    <% if (WRITE_MODE == 1) { %>
    <input type="button" class="btn btn-default btn-sm margin-t5 margin-r5 changeBtn pull-right" value="<%= locale.modify %>" style="display:none"></input>
    <% } %>
    <div id="tabs"></div>
</div>
<!-- tab 뷰 end -->