<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kglory.tms.web.mapper.common.CreateTableMapper">
    <insert id="createTable" parameterType="HashMap">
        ${sql}
    </insert>
    
    <insert id="insertTempDateTime" parameterType="HashMap">
        INSERT INTO ${tableName} (TEMPDATE) VALUES (#{dateTime})
    </insert>
</mapper>