<!-- info table begin -->
<table class="view-table">
	<tr>
		<th width="8%" class="padding-rl-clear"><%= locale.targetType %></th>
		<td width="42%"><%= pathName %></td>
		<th width="8%" class="padding-rl-clear"><%= locale.search.period %></th>
		<td width="42%"><%= condition.startDateInput %> ~ <%= condition.endDateInput %></td>
	</tr>
	<tr>
		<th class="padding-rl-clear"><%= locale.attackName %></th>
		<td>
			<!-- 결과내 재검색 기능은 추후 개선 예정. 주석 처리  
			<input id="attackName" type="text"	class="form-control col-xs-8"/>
			<button type="button" class="btn btn-default margin-l5"><%= locale.search.search %></button> -->
			<%= condition.attackNameInput %>
		</td> 	
		<th class="padding-rl-clear"><%= locale.attackerIp %></th>
		<td><%= condition.srcIp %></td>	
	</tr>
	<tr>
		<th class="padding-rl-clear"><%= locale.victimIp %></th>
		<td><%= condition.destIp %></td>	
		<th class="padding-rl-clear"><%= locale.victimPort %></th>
		<!-- <td>[<%= condition.nProtocolView %>]<%= condition.destPortInput %></td> -->
		<td>
			<% if (condition.nProtocolView != null && condition.nProtocolView != '') { %>
			[<%= condition.nProtocolView %>]<%= condition.destPortInput %>
			<% } %>
			<% if (condition.nProtocolView == null && condition.nProtocolView == '') { %>
			<%= condition.destPortInput %>
			<% } %>
		</td>
	</tr>
</table>
<!-- info table end -->
<!-- 조회 form begin 
<div class="row margin-t15">
	<form role="form" class="form-inline">
		<label class="control-label margin-l10"><%= locale.attackName %></label> <input id="attackName" type="text"	class="form-control margin-l5"/>
		<button type="button" class="btn btn-default"><%= locale.search.search %></button>
	</form>
</div>
 조회 form end -->

<!-- <div class="col-xs-12 border-solid-bottom margin-t10 margin-b10"></div>  -->

<!-- table begin -->
<div class="row">
	<!-- info line begin -->
	<div class="col-xs-12 margin-t10 margin-b5">
		<%= locale.all %> : <strong id="totalCount"></strong> <%= locale.dashboard.count %>
	</div>
	<!-- info line end -->

	<!-- table begin -->
	<div class="col-xs-12 margin-t5 margin-b5 progressbar">
		<table class="table table-vertical-line margin-clear">
			<thead>
				<tr>
					<th class="width-ranking"><%= locale.rank %></th>
					<th><%= locale.attackName %></th>
					<% if (condition.srcIp == null || condition.srcIp == '') { %>
					<th class="width-popup-td"><%= locale.attackerIp %></th>
					 <% } %>
					<% if (condition.destIp == null || condition.destIp == '') { %>
					<th class="width-popup-td"><%= locale.victimIp %></th>
					<% } %>
					<% if (condition.destPortInput == null || condition.destPortInput == '') { %>
					<th class="width-popup-td"><%= locale.victimPort %></th>
					<% } %>
					<th class="width-date"><%= locale.attackCount %></th>
					<th class="width-date"><%=locale.search.sum%>(byte)</th>
				</tr>
			</thead>
		</table>
		<div class="modal-table">
			<table class="table table-vertical-line margin-clear table-fixed">
				<tbody>
				</tbody>			
			</table>
		</div>
		<!-- 더보기/pagination 옵션 begin -->
		<div class="more-option align-center">
		</div>
		<!-- 더보기/pagination 옵션 end -->
	</div>
	<!-- table end -->
</div>
<!-- table end -->