<!-- <div class="modal-body modal-body-gray-padding"> -->
	<!-- 조회 form begin -->
	<form role="form" class="form-inline" onsubmit="return false;">
		<div class="col-xs-11 padding-clear ">
			<!-- 첫번째 줄 상세시간 begin -->
			<div class="col-xs-12">
				<!-- 위험도 begin -->
				<div class="form-group col-xs-7 padding-clear margin-t10">
			    <label class="control-label col-xs-2 padding-clear"><%= locale.severity %></label>
					<div class="checkbox margin-r10 padding-clear">
					  <label>
					    <input type="checkbox" id="severityHCheck" name="severityHCheck">
					    <span class="threat-bg-lv5 rect"></span>
							High
					  </label>
					</div>
					<div class="checkbox margin-r10">
					  <label>
					    <input type="checkbox" id="severityMCheck" name="severityMCheck">
					    <span class="threat-bg-lv4 rect"></span>
							Medium
					  </label>
					</div>
					<div class="checkbox margin-r10">
					  <label>
					    <input type="checkbox" id="severityLCheck" name="severityLCheck">
					    <span class="threat-bg-lv3 rect"></span>
							Low
					  </label>
					</div>
					<div class="checkbox margin-r10">
					  <label>
					    <input type="checkbox" id="severityICheck" name="severityICheck">
					    <span class="threat-bg-lv2 rect"></span>
							Info
					  </label>
					</div>
				</div>
				<!-- 위험도 begin -->
				<!-- 취약유형 begin -->
				<div class="form-group col-xs-5 margin-t10">
					<label class="control-label col-xs-4"><%= locale.attackType %></label>
					<select id="attackTypeSelect" class="form-control col-xs-8 padding-clear">
						<option value="0" selected><%= locale.all %></option>
					</select>
				</div>
				<!-- 취약유형 begin -->
			</div>
			<!-- 첫번째 줄 상세시간 end -->
			<!-- 두번째 줄 상세시간 begin -->
			<div class="margin-t10 margin-b10 col-xs-12">
				<!-- 검색어 begin -->
				<label class="control-label minwidth-50"><%= locale.searchWord %></label>
				<select class="form-control margin-l5" id="searchSelect">
					<option value="0" selected><%= locale.all %></option>
					<option value="1"><%= locale.attackName %></option>
					<option value="2"><%= locale.summary %></option>
					<option value="3"><%= locale.attack %><%= locale.information %></option>
					<option value="4">CVE ID</option>
				</select>
				<input type="text" class="form-control margin-l5 minwidth-300" id="searchInput" maxlength="256"/>
				<!-- 검색어 begin -->
			</div>
			<!-- 두번째 줄 상세시간 end -->
		</div>
		<div class="col-xs-1 padding-clear margin-t10">
			<button type="button" class="btn btn-default row2-height col-xs-12" id="searchBtn"><%= locale.searching %></button>
		</div>
	</form>
	<!-- 조회 form end -->
<!-- </div> -->
<div class="border-solid-top padding-t10">
	<div class="col-xs-2 padding-b5 padding-clear"><%= locale.totalCount %> <strong id="totalCount"></strong></div>
	<div class="col-xs-10 padding-b5">
		<span class="threat-bg-lv5 rect margin-r5 "></span>High <strong id="cntHigh"></strong>
		<span class="threat-bg-lv4 rect margin-r5 margin-l15"></span>Medium <strong id="cntMed"></strong>
		<span class="threat-bg-lv3 rect margin-r5 margin-l15"></span>Low <strong id="cntLow"></strong>
		<span class="threat-bg-lv2 rect margin-r5 margin-l15"></span>Info <strong id="cntInfo"></strong>
	</div>
	<!-- 목록 table begin -->
	<!-- 내용의 길이에 따라 ...로표시되기 위해서는 table에 class table-fixed 추가,th에 각 width지정, 해당 td에 class overflow-ellipsis 추가가 필요 -->
	<table class="table table-striped table-hover table-vertical-line table-fixed">
		<thead>
			<tr>
				<th class="width-number"><%= locale.number %></th>
				<!-- <th class="level-narrow border-right-clear"></th> -->
				<th><%= locale.attackName %> </th>
				<th width="15%"><%= locale.attackType %></th>
				<th width="15%">CVE-ID</th>
			</tr>
		</thead>
		<tbody id="list" class="list"></tbody>
	</table>
	<!-- 더보기/pagination 옵션 begin -->
		<div class="more-option align-center"></div>
		<!-- 더보기/pagination 옵션 end -->
	<!-- 목록 table end -->
</div>