<td class="align-center"><%= model.rNum %></td>
<td class="overflow-ellipsis align-center" title="<%= model.tmFrom %> ~ <%= model.tmTo %>"><%= model.tmFrom %> ~ <%= model.tmTo %></td>
<td class="overflow-ellipsis" title="<%= model.backupTable %>"><%= model.backupTable %></td>
<td class="overflow-ellipsis align-center" title="<%= model.tableDel %>"><%= model.tableDel %></td>
<td class="overflow-ellipsis" title="<%= model.strFileName %>"><%= model.strFileName %></td>
<td class="overflow-ellipsis align-center" title="<%= model.tmregDate %>"><%= model.tmregDate %></td>
<td class="align-center" title="download"><button type="button" class="btn btn-default btn-sm" id="backupFileDownload"><%= locale.download %></button></td>
