# #################  TESS TAS Model  ############################

[client]
port    = 3306
socket    = /tmp/mysql.sock
default-character-set = utf8

[mysqld]
bind-address = 127.0.0.1
port    = 3306
socket    = /tmp/mysql.sock
transaction-isolation = READ-COMMITTED
sql_mode=ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

back_log = 100
max_connections = 100
max_connect_errors = 10
max_allowed_packet = 16M
tmp_table_size = 16M
max_heap_table_size = 16M
table_open_cache = 2048
sort_buffer_size = 512K
read_buffer_size = 128K
join_buffer_size = 128K
read_rnd_buffer_size = 256K
thread_cache_size = 20
query_cache_type = 1
query_cache_size = 16M
skip_external_locking
skip_symbolic_links

log_bin_trust_function_creators = 1


# Try number of CPU's*2
thread_concurrency = 4

## config server and data path
basedir = /usr
datadir = /usr/local/mysql/data
tmpdir = /usr/local/mysql/data/mysql_tmp
#log_bin = /usr/local/mysql/data/mysql_binlog/mysql_bin
#relay_log = /usr/local/mysql/data/mysql_binlog/mysql_relay
innodb_data_home_dir = /usr/local/mysql/data/innodb
innodb_log_group_home_dir = /usr/local/mysql/data/mysql_iblog

## config character set
character_set_client_handshake = FALSE
character_set_server = utf8
collation_server = utf8_general_ci

## bin log
#sync_binlog = 0
#binlog_format = row
#binlog_cache_size = 3M
#max_binlog_size = 512M
#expire_logs_days = 7

# set to TRUE if replication mode
log_slave_updates = FALSE

# auto start off if replication mode
skip-slave-start

## A value unique for each  mysql  server
server_id = 1000

## auto increment option
auto_increment_increment = 1
auto_increment_offset = 1

## MyISAM Specific options
key_buffer_size = 32M
myisam_sort_buffer_size = 8M
myisam_max_sort_file_size = 16M
myisam_repair_threads = 1
myisam_recover = FORCE,BACKUP


## INNODB Specific options
innodb_data_file_path = ibdata1:2G;ibdata2:3G:autoextend:max:20G
innodb_autoextend_increment = 100
innodb_buffer_pool_size = 1G
innodb_log_file_size = 512M
innodb_log_buffer_size = 4M
innodb_lock_wait_timeout = 120
innodb_flush_log_at_trx_commit = 2
innodb_file_per_table = 1
innodb_stats_on_metadata = 0


[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
#safe-updates

[myisamchk]
key_buffer_size = 512M
sort_buffer_size = 512M
read_buffer = 8M
write_buffer = 8M

[mysqlhotcopy]
interactive-timeout
