<td name="graphItemCheckTd" id="graphItemCheckTd" class="align-center"><input type="checkbox" id="graphItemCheck" name="graphItemCheck" value="<%= model.ip %>"></td>
<td class="align-center"><%= model.rNum %></td>
<td><a class="ipRetrievePopupLink"><%= model.ip %></a></td>
<td class="align-center"><button type="button" class="btn-intable-list servicePopupBtn"></button></td>
<td class="align-right"><%= model.transformativeBps%></td>
<td class="align-right"><%= model.sumBps%> %</td>
<td class="align-right"><%= model.transformativePps%></td>
<td class="align-right"><%= model.sumPps%> %</td>
