<td width="8%" class="align-center"><%= model.rNum %></td>
<td width="15%" > <%= model.protocol %> ( <%= model.port %> )</td>
<td width="25%" class="align-right"><p><strong><%= model.bps %></strong></p><span  style="color: blue;">  s = <%= model.srcBps%>  </span> / <span  style="color: pink;"> d= <%= model.dstBps %> </span></td>
<td class="align-right"><%= model.shareBps %> %</td>
<td width="25%" class="align-right"><p><strong><%= model.pps %></strong></p><span  style="color: blue;">s = <%= model.srcPps%></span> / <span style="color: pink;"> d= <%= model.dstPps %> </span></td>
<td class="align-right"><%= model.sharePps %> %</td>
