<div id="chart"></div>

<!-- 건수 및 버튼 영역  begin -->
<div class="row margin-t30">

	<!-- 건수 표시 begin -->
	<div class="col-xs-6">
		<div class="col-xs-12">
			<div class="pull-left minwidth-60 text-primary"><%= locale.searchSection %></div>
			<div class="pull-left" id="listDate"></div>
		</div>
		<div class="col-xs-12">
			<div class="pull-left minwidth-60 margin-t10 text-primary"><%=locale.totalCount%>&nbsp;</div>
			
			<div class="pull-left margin-t10">
				<strong class="chart-text-10" id="totalRowSize"></strong>
			</div>
		</div>
	</div>
	<!-- 건수 표시 end -->
	
	<!-- 버튼 영역 begin -->
	<div class="col-xs-6">
		<form class="form-inline" role="form">
			<div class="pull-right">
				<div class="pull-left">
					<div><%= locale.search.option %></div>
					<div class="margin-t5">
						<button type="button" class="btn btn-labeled btn-primary-fill btnGraph"><span class="btn-label"><i class="fa fa-area-chart"></i></span><%=locale.makeGraph%></button>
					</div>					
				</div>
				<!--span class="divider-vertical"></span-->
				<div class="pull-left margin-l20 margin-r10">
					<div>					
						<input type="radio" class="radio" name="exportRange" id="exportRange2" value="currentPage" checked>&nbsp;<label for="exportRange2" class="label-for-button"><%= locale.currentPage %></label>&nbsp;&nbsp;
<!--						<input type="radio" class="radio" name="exportRange" id="exportRange1" value="all">&nbsp;<label for="exportRange1" class="label-for-button"><%= locale.dashboard.total %></label>&nbsp;-->
						<%= locale.download %>
					</div>
					<div class="margin-t5">
						<button type="button" class="btn btn-labeled btn-success-fill btnExport" data-format="excel"><span class="btn-label"><i class="fa fa-file-excel-o"></i></span>excel</button>
						<button type="button" class="btn btn-labeled btn-primary-fill btnExport" data-format="word"><span class="btn-label"><i class="fa fa-file-word-o"></i></span>word</button>
						<button type="button" class="btn btn-labeled btn-info-fill btnExport" data-format="html"><span class="btn-label"><i class="fa fa-file-code-o"></i></span>html</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- 버튼 영역 begin -->
</div>
<!-- 건수 및 버튼 영역  end -->

	<!-- 최종5분평균 table begin -->
	<div class="progressbar margin-t10">
		<table class="table table-striped table-hover table-vertical-line inside-iconbtn">
			<thead>
				<tr>
		      		<th class="align-center width-check"></th>
		      		<th class="width-ranking"><%= locale.rank %></th>
		      		<th colspan="2" ><%= locale.service %></th>
					<th colspan="2" class="bps border-right-clear">Inbound + Outbound (bps)</th>
					<th class="bps border-right-clear">Inbound</th>
					<th class="bps">Outbound</th>
					<th colspan="2" class="pps border-right-clear">Inbound + Outbound (pps)</th>
					<th class="pps border-right-clear">Inbound</th>
					<th class="pps">Outbound</th>
		    	</tr>
		    	<tr>
			      	<th class="align-center summary"><input type="checkbox" id="graphItemCheckTotal" name="graphItemCheckTotal" value="-1"></th>
			      	<th class="summary">TOTAL</th>
			      	<th colspan="2" class="summary"></th>
			      	<th colspan="2" class="align-right summary bps border-right-clear"><span id="totalBps"></span></th>
			      	<th class="align-right summary bps border-right-clear"><span id="totalIngressBps"></span></th>
			      	<th class="align-right summary bps "><span id="totalEgressBps"></span></th>
					<th colspan="2" class="align-right summary pps border-right-clear"><span id="totalPps"></span></th>
					<th class="align-right summary pps border-right-clear"><span id="totalIngressPps"></span></th>
					<th class="align-right summary pps"><span id="totalEgressPps"></span></th>
		    	</tr>
		    </thead>
		    <tbody id="serviceListTbody">
			</tbody>
		</table>
	</div>
	<!-- 최종5분평균 table end -->

	<!-- 더보기 begin -->
	<div id="pageLayout"></div>
	<!-- 더보기 end -->