<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kglory.tms.web.mapper.TestMapper">
    <insert id="insertDetectionLog" parameterType="map">
        INSERT INTO ${tableName}
        (LINDEX,LCODE,TMSTART,TMEND,DWSOURCEIP,DWDESTINATIONIP,NPROTOCOL,BTYPE,STRTITLE,NSOURCEPORT,NDESTINATIONPORT,DWPACKETCOUNTER,
        DWDSTPORTCOUNTER,DWSRCIPCOUNTER,BSEVERITY,DWDSTIPCOUNTER,DWSRCPORTCOUNTER,DWEVENTNUM,WINBOUND,DWPKTSIZE,DWMALICIOUSSRVFRAME,
        DWMALICIOUSCLIFRAME,DWMALICIOUSSRVBYTE,DWMALICIOUSCLIBYTE,UCINTRUSIONDIR,UCACCESSDIR,LSRCNETINDEX,LDSTNETINDEX,LSRCUSERINDEX,
        LDSTUSERINDEX,LURLINDEX,TMDBTIME)
        SELECT IFNULL(MAX(LINDEX), 0) + 1, 66,NOW(),NOW(),1025548563,-599160086,6,8,'ftp get passwd',
        58183,80,1,1,1,3,1,1,1,0,617,272,0,14,0,0,0,-1,-1,-1,-1,0,NOW() 
        FROM ${tableName}
    </insert>
    
    <insert id="insertFileMetaLog" parameterType="map">
        INSERT INTO ${tableName}  
        (LINDEX,TMLOGTIME,NPROTOCOL,DWSOURCEIP,STRSOURCEIP,NSOURCEPORT,DWDESTINATIONIP,STRDESTINATIONIP,
        NDESTINATIONPORT,BIPTYPE,LSRCNETINDEX,LDSTNETINDEX,STRURI,STRREFERER,STRHOST,STRUSERAGENT,STRMAGIC,NSTATE,NPKTNUM,DWFILESIZE,
        STRFILENAME,STRFILEHASH,STRSTOREFILENAME,STRSESSIONINDEX,TMSESSION,LCODE,NGRPINDEX,BSEVERITY,STRRULENAME,STRGRPNAME,TMDBTIME) 
        <![CDATA[ 
        SELECT IFNULL(MAX(LINDEX), 0) + 1, NOW(),6,178258223,null,9888,32798255,null,80,4,-1,-1,
        '/KOR_WEBROOT/SRC/EM/NeoBizMail/mail/UploadAction.aspx?ProgressID=0&isUpload=ok&mode=&sGigaIdx=635745651538133359','',
        '1.244.118.47','Innorix','PDF document, version 1.5',1,48674,99694,'The_Little_Prince.pdf',
        '9ff34873d41e3c35e2a4f93732112b5fbf73f4f0f24394cbbfdf1fbd1f74bbb5ed8b43e81e12196fd89ebf5553cea7510b9e61aeabd380bcb20e4f1eb810cba0',
        '190219\21_19021910_1217100108.mfd','813800627609',NOW(),950,5,3,'cve_2017_3115','malicious_document',NOW() 
        ]]>
        FROM ${tableName}
    </insert>
	
</mapper>