<!-- 매니저 사용율 테이블 begin -->
<button type="button" class="btn btn-primary searchBtn" style="display: none;"></button>
<div class="content-white">
	<div class="title"><%= locale.managerStatus %> <span id="managerCurrentTime"></span></div>
	<table class="table table-striped table-vertical-line margin-clear">
		<tr>
			<th><%= locale.cpuSpeed %></th>
			<th>CPU</th>
			<th><%= locale.cpuUsedRate %></th>
			<th><%= locale.memUsedRate %> </th>
			<th><%= locale.hddUsedRate %></th>
			<th><%= locale.numberOfProcess %></th>
			<th><%= locale.dbUsedRate %></th>
		</tr>
		<tbody id="managerStateList">
		</tbody>
	</table>
</div>
<!-- 매니저 사용율 테이블 end -->

<!-- graph display -->
<div class="content-white">
	<div class="title"><%= locale.managerStatusTrend %></div>
	
	<!-- 그래프 생성 form begin -->
	<form role="form" class="form-inline">
		<div class="col-xs-11 padding-clear">
			
			<!-- 분석기간 선택 begin -->
			<div class="form-group col-xs-12 padding-clear margin-t10">
				<label class="control-label col-xs-1"><%= locale.search.period %></label>
				<div class="col-xs-11" id="period"></div>
			</div>
			<!-- 분석기간 선택 end -->
			
		</div>
		<div class="col-xs-1">
			<button type="button" class="genGraph btn btn-default col-xs-12 margin-t10 "><%= locale.makeGraph %></button>
		</div>
	</form>
	<!-- 그래프 생성 form end -->
	
	<div class="col-xs-12 border-solid-bottom margin-t10 margin-b10"></div>
	
	<div class="row margin-b20">
		<div class="col-xs-6">
			<div class="db-status-panel">
				<div class="panel-title"><%= locale.cpuUsedRate %></div>
				<div class="panel-body">
					<div class="" id="cpu-tab">
						<div class="row">
							<div class="col-xs-10">
								<div class="cpuUsedPopupChart" style="height:204px;"></div>
							</div>
							<div class="col-xs-2 padding-left-clear pull-right"><!--class 가 모두 바뀌었습니다.-->					
								<ul class="chart-subinfo float-clear"><!--이부분이 table 구조에서 ul구조로 변경되었습니다.-->
									<li>
										<span class="pull-left threat-text-lv5 font-size-11">Max </span>&nbsp;<span class="pull-right threat-text-lv5 font-size-11 cpuUsedMax"></span>
									</li>
									<li>
										<span class="pull-left threat-text-lv1 font-size-11">Min </span>&nbsp;<span class="pull-right threat-text-lv1 font-size-11 cpuUsedMin"></span>
									</li>
									<li>
										<span class="pull-left font-size-11">Avg </span>&nbsp;<span class="pull-right font-size-11 cpuUsedAvg"></span>
									</li>
									<li>
										<span class="pull-left font-size-11">Last </span>&nbsp;<span class="pull-right font-size-11 cpuUsedLast"></span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="db-status-panel">
				<div class="panel-title"><%= locale.memUsedRate %></div>
				<div class="panel-body">
					<div class="" id="memory-tab">
						<div class="row">
							<div class="col-xs-10">
								<div class="memUsedPopupChart" style="height:204px;"></div>
							</div>
							<div class="col-xs-2 padding-left-clear pull-right"><!--class 가 모두 바뀌었습니다.-->
								<ul class="chart-subinfo float-clear"><!--이부분이 table 구조에서 ul구조로 변경되었습니다.-->
									<li>
										<span class="pull-left threat-text-lv5 font-size-11">Max </span>&nbsp;<span class="pull-right threat-text-lv5 font-size-11 memUsedMax"></span>
									</li>
									<li>
										<span class="pull-left threat-text-lv1 font-size-11">Min </span>&nbsp;<span class="pull-right threat-text-lv1 font-size-11 memUsedMin"></span>
									</li>
									<li>
										<span class="pull-left font-size-11">Avg </span>&nbsp;<span class="pull-right font-size-11 memUsedAvg"></span>
									</li>
									<li>
										<span class="pull-left font-size-11">Last </span>&nbsp;<span class="pull-right font-size-11 memUsedLast"></span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-6">
			<div class="db-status-panel">
				<div class="panel-title"><%= locale.hddUsedRate %></div>
				<div class="panel-body">
					<div class="" id="hdd-tab">
						<div class="row">
							<div class="col-xs-10">
								<div class="hddUsedPopupChart" style="height:204px;"></div>
							</div>
							<div class="col-xs-2 padding-left-clear pull-right"><!--class 가 모두 바뀌었습니다.-->
								<ul class="chart-subinfo float-clear"><!--이부분이 table 구조에서 ul구조로 변경되었습니다.-->
									<li>
										<span class="pull-left threat-text-lv5 font-size-11">Max </span>&nbsp;<span class="pull-right threat-text-lv5 font-size-11 hddUsedMax"></span>
									</li>
									<li>
										<span class="pull-left threat-text-lv1 font-size-11">Min </span>&nbsp;<span class="pull-right threat-text-lv1 font-size-11 hddUsedMin"></span>
									</li>
									<li>
										<span class="pull-left font-size-11">Avg </span>&nbsp;<span class="pull-right font-size-11 hddUsedAvg"></span>
									</li>
									<li>
										<span class="pull-left font-size-11">Last </span>&nbsp;<span class="pull-right font-size-11 hddUsedLast"></span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="db-status-panel">
				<div class="panel-title"><%= locale.processCount %></div>
				<div class="panel-body">
					<div class="tab-pane" id="process-tab">
						<div class="row">
							<div class="col-xs-10">
								<div class="processNumPopupChart" style="height:204px;"></div>
							</div>
							<div class="col-xs-2 padding-left-clear pull-right"><!--class 가 모두 바뀌었습니다.-->
								<ul class="chart-subinfo float-clear"><!--이부분이 table 구조에서 ul구조로 변경되었습니다.-->
									<li>
										<span class="pull-left threat-text-lv5 font-size-11">Max </span>&nbsp;<span class="pull-right threat-text-lv5 font-size-11 processNumMax"></span>
									</li>
									<li>
										<span class="pull-left threat-text-lv1 font-size-11">Min </span>&nbsp;<span class="pull-right threat-text-lv1 font-size-11 processNumMin"></span>
									</li>
									<li>
										<span class="pull-left font-size-11">Avg </span>&nbsp;<span class="pull-right font-size-11 processNumAvg"></span>
									</li>
									<li>
										<span class="pull-left font-size-11">Last </span>&nbsp;<span class="pull-right font-size-11 processNumLast"></span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<!-- /graph display -->


<!--<div class="content-white progressbar">-->
<!-- title n btn begin -->
<!--<div class="title"><%=locale.dbUsageList%> <span id="currentTime"></span></div>-->
<!-- title n btn end -->
<!--<div id="list"></div>-->
<!--</div>-->